
<header>


    <p>
        <mat-toolbar color="primary">
         <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
        <span> <img class="img-responsive" src="assets/images/v18.png" width="200" height="100"> </span>

        <span class="example-spacer" style="margin: left 5px; ;">EMS </span>
      
        <section>
          
          <div class="example-button-row">
            <button mat-raised-button color="accent"  (click)="openDialog()" >Add Employee
      
              
                
                  <mat-icon>person_add</mat-icon>
                
              
      
            </button>
          </div>
        </section>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>share</mat-icon>
       </button> -->
      </mat-toolbar>
      </p>

</header>